nav.catalog
    span.catalog__total Все объявления в Санкт-Петербурге 79 987 979
      ul.catalog__list
        li.catalog__item
          a(href="").catalog__link.link Личные вещи
            span.catalog__link_span 2 323 557
        li.catalog__item
          a(href="").catalog__link.link Транспорт
            span.catalog__link_span 1 080 463
        li.catalog__item
          a(href="").catalog__link.link Для дома и дачи
            span.catalog__link_span 582 286
        li.catalog__item
          a(href="").catalog__link.link Хобби и отдых
            span.catalog__link_span 555 272
        li.catalog__item
          a(href="").catalog__link.link Бытовая электроника
            span.catalog__link_span 389 573
        li.catalog__item
          a(href="").catalog__link.link Работа
            span.catalog__link_span 130 123
        li.catalog__item
          a(href="").catalog__link.link Недвижимость
            span.catalog__link_span 119 125
        li.catalog__item
          a(href="").catalog__link.link Услуги
            span.catalog__link_span 105 657
        li.catalog__item
          a(href="").catalog__link.link Для бизнеса
            span.catalog__link_span 36 403
        li.catalog__item 
          a(href="").catalog__link.link Животные
            span.catalog__link_span 30 359