.container
  .header__menu
    ul.header__list
      li.header__item
        a.link(href="")
          img(src="../assets/images/icons/icon.svg", alt="").header__logo
      li.header__item
        a.link(href="#") Авто
      li.header__item
        a.link(href="#") Недвижимость
      li.header__item
        a.link(href="#") Работа
      li.header__item
        a.link(href="#") Услуги
      li.header__item
        a.link(href="#") Ещё...
